@use "./variables" as *;
header {
  height: 130px;
  width: 100vw;
  background-color: $color-white;
  // Posizionamento fisso
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  margin-top: 130px;
}

footer {
  margin-top: 200px;
}
img {
  //? img fix
  width: 100%;
}

a {
  // --bs-nav-link-color: $color-cod-gray !important;
  color: $color-boulder !important;
  text-decoration: none !important;
}
nav {
  ul {
    //! Sovrascrivo colore di Bootstrap
    --bs-nav-link-color: $color-cod-gray !important;
    //! Sovrascrivo colore HOVER di Bootstrap
    --bs-nav-link-hover-color: $color-matrix !important;
    &:hover {
      color: $color-matrix !important;
    }
  }
}

//! Sovrascrivo bootstrap
.dropdown-toggle::after {
  font-family: FontAwesome;
  content: "\f078" !important;
  font-weight: bold;
  font-size: 0.52em;
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
  vertical-align: 0;
  margin-left: 0;
}

.container-fluid {
  width: 100vw !important;
  --bs-gutter-x: 0 !important;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet {
  margin: 0 10px !important;
}
.swiper-pagination-bullet-active {
  background: $color-cod-gray !important;
  transform: scale(1.45);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  // position: static !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
