@use "./variables" as *;
header {
  height: 130px;
  width: 100vw;
  background-color: $color-white;
  // Posizionamento fisso
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  margin-top: 130px;
}
img {
  //? img fix
  width: 100%;
}

a {
  // --bs-nav-link-color: $color-cod-gray !important;
  color: $color-boulder !important;
  text-decoration: none !important;
}
nav {
  ul {
    //! Sovrascrivo colore di Bootstrap
    --bs-nav-link-color: $color-cod-gray !important;
    //! Sovrascrivo colore HOVER di Bootstrap
    --bs-nav-link-hover-color: $color-matrix !important;
    &:hover {
      color: $color-matrix !important;
    }
  }
}

.container-fluid {
  width: 100vw !important;
  --bs-gutter-x: 0 !important;
}
