// !Color cube
$color-whie: #fff;
$color-bay-of-many: #224184;
$color-silver: #bcbcbc;
$color-cod-gray: #1b1b1b;
$color-tulip-tree: #efab43;
$color-boulder: #797979;
$color-cerulean: #029fcc;
$color-thunderbird: #d71f18;
$color-malubu: #69a0fd;
$color-walnut: #784619;

// %Median cut
$color-pickled-bluewood: #374a5e;
$color-hint-red: #f4f0ef;
$color-tussock: #cc9f4c;
$color-tower-gray: #a3b8be;
$color-matrix: #a65d50;

// ? Material design
$color-tussock: #c2944f;
$color-dusty-gray: #9a9898;
$color-bay-many-vibrant: #22437d;
$color-smalt-blue: #4f7f85;
$color-ice-cold: #b1e4f4;
